<div>
    <h2> Список книг </h2>

    <form [formGroup]="addBookForm" novalidate (ngSubmit)="addBookFormsubmit()">
      <div class="form-group">
        <input class="form-control" name="title" placeholder="Название книги" formControlName="title" [(ngModel)]="title"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['title'].invalid && addBookForm.controls['title'].touched">
          Не указано название
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="autors" placeholder="Авторы книги" formControlName="autors" [(ngModel)]="autors"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['autors'].invalid && addBookForm.controls['autors'].touched">
          Не указан автор
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="pages" placeholder="Кол-во страниц" formControlName="pages" [(ngModel)]="pages"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['pages'].invalid && addBookForm.controls['pages'].touched">
          Не указано количество страниц
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="izdat" placeholder="Издательство" formControlName="izdat" [(ngModel)]="izdat"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['izdat'].invalid && addBookForm.controls['izdat'].touched">
          Не указано издательство
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="year" placeholder="Год публикации" formControlName="year" [(ngModel)]="year"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['year'].invalid && addBookForm.controls['year'].touched">
          Не указан год публикации
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="tirazh" placeholder="Дата выхода в тираж" formControlName="tirazh" [(ngModel)]="tirazh"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['tirazh'].invalid && addBookForm.controls['tirazh'].touched">
          Не указана дата выхода в тираж
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" name="isbn" placeholder="ISBN" formControlName="isbn" [(ngModel)]="isbn"/>

        <div class="alert alert-danger" *ngIf="addBookForm.controls['isbn'].invalid && addBookForm.controls['isbn'].touched">
          Неверно указан ISBN
        </div>
      </div>

      <div class="form-group">
        <input class="form-control" type="file" name="img" placeholder="Изображение" formControlName="img" (change)="addPhoto($event)"/>
      </div>
                    <button class="btn btn-primary" type="addBookFormsubmit" [disabled]="addBookForm.invalid">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
    </form>

<!--    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" style="width:25%" placeholder="Название книги" [(ngModel)]="title" />
                <input type="text" class="form-control" style="width:25%" placeholder="Авторы книги" [(ngModel)]="autors" />
                <input type="text" class="form-control" style="width:25%" placeholder="Кол-во страниц" [(ngModel)]="pages" />
                <input type="text" class="form-control" style="width:25%" placeholder="Название издательства" [(ngModel)]="izdat" />
                <input type="text" class="form-control" style="width:25%" placeholder="Год публиации" [(ngModel)]="year" />
                <input type="text" class="form-control" style="width:25%" placeholder="Дата выхода в тираж" [(ngModel)]="tirazh" />
                <input type="text" class="form-control" style="width:25%" placeholder="ISBN" [(ngModel)]="isbn" />
                <input type="text" class="form-control" style="width:25%" placeholder="Изображение" [(ngModel)]="img" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="onClick()">
        <span class="glyphicon glyphicon-ok"></span>
        </button>
                </div>
            </div>
        </div>
    </div>-->

    <br />

    <ul class="list-group">
        <li *ngFor="let book of books" class="list-group-item">
            <div class="list-item"><img src="{{ book.img }}"/></div>
            <div class="list-item"> {{ book.autors }} </div>
            <div class="list-item"> {{ book.title }} </div>
            <div class="list-item"> {{ book.pages }} </div>
            <div class="list-item"> {{ book.year }} </div>
            <div class="list-item"> {{ book.tirazh }} </div>
            <div class="list-item"> {{ book.izdat }} </div>
            <div class="list-item"> {{ book.isbn }} </div>
            <div class="edit-del">
            <span (click)="onEdit(book)" class="glyphicon glyphicon-pencil floatright"></span>
            <span (click)="onDelete(book)" class="glyphicon glyphicon-remove floatright paddingLeft"></span>
            </div>
        </li>

    </ul>

</div>
